@model IEnumerable<Blog.Areas.Admin.Models.EunBlog>


<div id="colorlib-main">
	<div class="hero-wrap js-fullheight" style="background-image: url(/backup/images/blog.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="js-fullheight d-flex justify-content-center align-items-center">
			<div class="col-md-8 text text-center">
				<div class="desc">
					<h2 class="">Keyifli okumalar...</h2>
				</div>
			</div>
		</div>
	</div>

</div>
<div id="colorlib-main">
	<section class="ftco-section">
		<div class="container">
			<div class="row">

				<div class="col-lg-8">
					<div class="row">
						<div class="col-md-12 ">
						@foreach (var item in Model)
							{
								<div class="blog-entry ftco-animate">
									<img src="~/backup/images/@item.ImagePath" class="img-fluid">
									
									<div class="text pt-2 mt-3">
										<h3 class="mb-4"><a href="#">@item.Title</a></h3>
										<p class="mb-4">@item.Summary</p>
										<div class="author mb-4 d-flex align-items-center">
										
											<div class="ml-2 info">
												<h6> <span>@item.CreatedOn.ToString("dd/MM/yyyy")</span></h6>

													<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
														<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
														<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
														</svg> @item.Visits
													</p>
												
										</div>
										</div>
										<div class="meta-wrap d-md-flex align-items-center">
											
											<div class="half">
												<p><a href="@item.Slug" class="btn btn-primary p-3 px-xl-4 py-xl-3">Yazının Tamamını Görüntüle</a></p>
											</div>
										</div>
										
									</div>
								</div>
								
							}
						

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


					